body {
    background-color:#443850;
    font-size: 25px;
}
.text-color {
    color: #EAF0CE;
    font-family:'Dosis', sans-serif;
}

.title-color{
    color: #C0C5C1;
}
#photo-matheus{
    width: 250px;
    border-radius: 100%;
}
.line-heigh-title{
    line-height: 15px;
    font-family: 'Nunito', sans-serif;
}
.about-matheus{
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
}
.profile-pic{
    display: inline-block;
    padding: 20px;
    margin-right: 150px;
    
}
div.indice ul li{
    display: inline-block;
    padding-left:20px ;
    padding-right: 20px;
    text-decoration: none;
    color: #443850; 
     
}
div.indice ul li a{
    text-decoration: none;

}

.indice{
    text-align: center;
    font-size: 20px;
    min-width: 100%;
    background-color: #C0C5C1;
    padding: 15px;
    margin: -10px;
    overflow: hidden;
    position: fixed;
    top: 0;  
}
.title-name{
    text-align: center;
    margin-top: 120px;

    }
.sub-title{
    text-align: center;
    }
.about-me{
    color: #C0C5C1;
    font-family:'Dosis', sans-serif;
    
}
.blog-container{
    color: #C0C5C1;
    font-family:'Dosis', sans-serif;
    font-size: 25px;
}
a:hover[href*="bcdb"]{
    color: #C0C5C1;
}
a:hover[href*="hysteria"]{
    color: #C0C5C1;
}
a:hover[href*="oulipo"]{
    color: #C0C5C1;
}
#blog{
    line-height: 15px;
    font-family: 'Nunito', sans-serif;
    color: #C0C5C1;
   
}
.margin-left-all{
    margin-left: 50px;
}