body {
    background-color:#443850;
    font-size: 25px;
}
.text-color {
    color: #EAF0CE;
    font-family:'Dosis', sans-serif;

}

.title-color{
    color: #C0C5C1;
}
#photo-matheus{
    width: 250px;
    border-radius: 100%;
}
.line-heigh-title{
    line-height: 15px;
    font-family: 'Nunito', sans-serif;
}